/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-15, 15:44:47
    Author     : egzamin
*/

@import "compass/css3";

body{
    font-family: Verdana;
    background-image: url("2.jpg");
}

div.container {
    background-color: white;
    
    width: 1000px;
    margin: 0 auto;
    height: 900 px;
    //border: 1px solid gray;
}

header{
    height: 150px;
    width: 1000px;
    padding: 1em;
    color: white;
    //background-color: black;
    display: table-cell;
    vertical-align: middle;
    background-image: url("1.jpg");
    clear: left;
    text-align: center;
}

footer{
    height: 20px;
    padding: 1em;
    color: white;
    background-color: #058005;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    height: 600px;
    background-color: white;
    margin-left: 170px;
    //border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

article anim{
    float: left;
    width: 500px;
    height: 400px;
}